.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
}

.modal {
    background: white;
    width: 95%;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
    animation: slideUp 0.3s ease-out;
    display: flex;
    flex-direction: column;
    max-height: 90vh;
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #f6f3f3;
}

/* .header h3 {
    margin: 0;
    font-size: 1.25rem;
    color: #111827;
} */

.title {
    visibility: hidden;
}

.closeBtn {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #af9c9c;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s;
}

.closeBtn:hover {
    color: #ef4444;
}

.body {
    padding: 1.5rem;
    overflow-y: auto;

    /* Para Firefox */
    scrollbar-width: thin;
    scrollbar-color: #e1cbcb transparent;
}

/* Para Chrome, Edge, Safari e Opera */
.body::-webkit-scrollbar {
    width: 6px;
}

.body::-webkit-scrollbar-track {
    background: transparent;
    margin: 4px 0;
}

.body::-webkit-scrollbar-thumb {
    background-color: #dbd1d1;
    border-radius: 10px;
}

.body::-webkit-scrollbar-thumb:hover {
    background-color: #af9c9c;
}

@media (max-width: 640px) {
    .body {
        padding: .5rem;
    }
}