.carouselWrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 3rem auto 0 auto;
  padding: 0 1rem;
}

.embla {
  overflow: hidden;
  padding: 1rem 0;
}

.emblaContainer {
  display: flex;
  margin-left: -1.5rem; 
}

.emblaSlide {
  padding-left: 1.5rem; 
  min-width: 0;
  flex: 0 0 100%;  /* Padrão Mobile: 1 card por vez (100%) ou um pedacinho do próximo (85%) */
}

@media (min-width: 640px) {
  .emblaSlide { 
    /* Tablet: Exatamente 2 cards */
    flex: 0 0 50%; 
  }
}

@media (min-width: 1024px) {
  .emblaSlide { 
    /* Desktop: Exatamente 4 cards (100% / 4 = 25%) */
    flex: 0 0 25%; 
  }
}

.card {
  background: #ffffff;
  border-radius: 16px;
  height: 220px; 
  border: 1px solid #ebe5e5;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: hidden;
  padding: 1.5rem;
}

.card:hover {
  transform: translateY(-8px);
  border-color: var(--primary-red);
  box-shadow: 0 20px 25px -5px rgba(246, 59, 59, 0.15);
}

.iconBox {
  background-color: #ffefef;
  color: var(--primary-red);
  padding: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}

.card:hover .iconBox {
  background-color: var(--primary-red);
  color: #ffffff;
  transform: scale(1.1);
}

.cardTitle {
  font-size: 1rem;
  font-weight: 700;
  color: #371f1f;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.clickHint {
  font-size: 0.75rem;
  color: #af9c9c;
  font-weight: 600;
  /* transform: translateY(10px); */
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  opacity: 1;
  transform: translateY(0);
}

.card:hover .clickHint {
  opacity: 1;
  transform: translateY(0);
  color: var(--primary-red);
}

@media (min-width: 1024px) {
  .clickHint {
    opacity: 0;
    transform: translateY(10px);
    color: #af9c9c;
  }
  
  .card:hover .clickHint {
    opacity: 1;
    transform: translateY(0);
    color: #eb2525;
  }
}

.navBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: white;
  border: 1px solid #e5e7eb;
  color: #513737;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: all 0.2s;
}

.navBtn:hover {
  background-color: var(--primary-red);
  color: white;
  border-color: var(--primary-red);
}

.prevBtn { left: -10px; }
.nextBtn { right: -10px; }

@media (max-width: 768px) {
  .navBtn { display: none; }
  .carouselWrapper { padding: 0 1rem; }
}