.container {
  display: flex;
  flex-direction: column;
  gap: 0.375rem; /* ~6px de espaço entre label e input */
  width: 100%;
}

.label {
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  color: #513737; /* Cinza escuro (gray-700) */
}

/* Aplica o estilo tanto para input, select quanto para o campo de máscara */
.input {
  width: 100%;
  height: 42px; /* Altura fixa para alinhar botões e inputs */
  padding: 0.5rem 0.75rem;
  
  font-size: 0.875rem;
  color: #271111;
  background-color: #ffffff;
  
  border: 1px solid #dbd1d1; /* gray-300 */
  border-radius: 0.5rem;     /* 8px */
  
  outline: none;
  transition: all 0.2s ease-in-out;
}

.input::placeholder {
  color: #af9c9c; /* gray-400 */
}

/* Estado de Foco (Borda Azul e Sombra suave) */
.input:focus {
  border-color: var(--primary-red); /* blue-600 */
  box-shadow: 0 0 0 3px rgba(235, 37, 37, 0.15); 
}

/* Estado Desabilitado */
.input:disabled {
  background-color: #f6f3f3;
  cursor: not-allowed;
  color: #806b6b;
}