.container {
    width: 100%;
    overflow-x: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border: 1px solid #e5e7eb;
}

.table { width: 100%; border-collapse: collapse; font-size: 0.875rem; }

.thead { background-color: #2563eb; border-bottom: 2px solid #e5e7eb; }
/* .thead { background-color: #f9fafb; border-bottom: 2px solid #e5e7eb; } */

.th { padding: 12px 16px; text-align: left; font-weight: 600; color: #e5e7eb ; }
/* .th { padding: 12px 16px; text-align: left; font-weight: 600; color: #374151; } */

.tr { border-bottom: 1px solid #e5e7eb; }
.tr:last-child { border-bottom: none; }

.dataRow:hover { background-color: #f3f4f6; }

.td { padding: 12px 16px; color: #1f2937; vertical-align: middle; }

.empty { text-align: center; padding: 2rem; color: #6b7280; }

/* Skeleton Styles */
.skeletonBar {
    width: 100%;
    height: 20px;
    background-color: #e5e7eb;
    border-radius: 4px;
    animation: pulse 1.5s ease-in-out infinite;
}

/* Header Ordenável */
.sortableTh {
    cursor: pointer;
    user-select: none; /* Impede selecionar o texto ao clicar rápido */
    transition: all 0.2s ease; /* Adiciona uma animação suave */
    position: relative; /* Para garantir que o hover fique contido */
}

/* HOVER: Fundo azul clarinho + Texto azul escuro */
.sortableTh:hover {
    background-color: #eff6ff; /* Azul bem suave (blue-50) */
    color: #1e40af;           /* Azul escuro (blue-800) */
}

/* Opcional: Quando passar o mouse, a setinha também fica azul forte */
.sortableTh:hover .sortIcon {
    color: #2563eb; /* Azul vibrante */
    opacity: 1 !important; /* Garante que ela apareça se estiver transparente */
}

/* Conteúdo do Header Flex */
.thContent {
    display: flex;
    align-items: center;
    gap: 8px; /* Espaço entre texto e setinha */
}

.sortIcon {
    display: flex;
    align-items: center;
    color: #fbfbfb;
}

@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.4; }
    100% { opacity: 1; }
}