/* Container Principal: Ocupa a tela toda e organiza em Coluna */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

/* Área do corpo (Sidebar + Main): Organiza em Linha */
.body {
    display: flex;
    flex: 1;
    overflow: hidden;
    position: relative;
}

/* Wrapper da Sidebar */
.sidebarWrapper {
    flex-shrink: 0;
    height: 100%;
    border-right: 1px solid #ebe5e5;
    background-color: #271111; 
    transition: transform 0.3s ease-in-out;
    z-index: 40; 
}

/* Área de Conteúdo Principal */
.content {
    flex: 1;
    overflow-y: auto;
    padding: 2rem;
    background-color: #f6f3f3;
}

/* --- NOVO: Estilos para o Fundo Escuro (Overlay) --- */
.overlay {
    position: fixed;
    top: 64px; /* Altura do seu Header */
    left: 0;
    width: 100%;
    height: calc(100vh - 64px);
    background-color: rgba(0, 0, 0, 0.5); /* Preto semitransparente */
    z-index: 30; /* Fica atrás da sidebar (40) mas na frente do content */
}

/* --- NOVO: Responsividade para Mobile (Telas menores que 768px) --- */
@media (max-width: 768px) {

    .content{
        padding: 1rem;
    }
    
    .sidebarWrapper {
        position: fixed; /* Solta a sidebar do fluxo normal */
        top: 64px;       /* Cola ela logo abaixo do header */
        left: 0;
        height: calc(100vh - 64px); /* Ocupa o resto da altura */
        
        /* O segredo: Move a sidebar 100% para a esquerda (escondendo-a) */
        transform: translateX(-100%);
        border-right: none; /* Remove a borda no mobile se preferir visual limpo */
    }

    /* Classe que o React vai adicionar quando clicar no botão */
    .sidebarWrapper.open {
        transform: translateX(0); /* Traz de volta para a tela */
        box-shadow: 4px 0 8px rgba(0,0,0,0.2); /* Sombra para destacar */
    }
}