.item {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  padding: 0.75rem 1rem;
  border-radius: 8px;

  color: #ebe5e5;
  text-decoration: none;

  transition: background 0.2s, color 0.2s;
}

.item:hover {
  background-color: #331f1f;
}

.icon {
  flex-shrink: 0;
}

.active {
  background-color: var(--primary-red);
  color: #ffffff;
}

.active:hover {
  background-color: var(--primary-darkred);
}
