.field {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%; 
}

.icon {
  position: absolute;
  left: 0;
  color: #af9c9c; 
  transition: color 0.2s ease;
  pointer-events: none;
  z-index: 1;
}

.field input {
  width: 100%;
  padding: 10px 12px 10px 30px; 
  background: transparent;
  border: none;
  border-bottom: 2px solid #ebe5e5;
  color: #271111;
  font-size: 14px; 
  border-radius: 0;
  transition: all 0.2s ease;
}
.field input:focus {
  outline: none;
  border-bottom-color: var(--primary-red);
}

.field label {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  color: #806b6b;
  font-size: 14px;
  pointer-events: none;
  transition: 0.2s ease;
  z-index: 10; 
}

.field input:focus ~ label,
.filled {
  top: -8px !important;
  font-size: 11px !important;
  color: var(--primary-red) !important;
  font-weight: 600;
  transform: none !important;
}

.field input:focus ~ .icon {
  color: var(--primary-red);
}

.field input[type="date"] {
  color: transparent;
  transition: color 0.1s ease;
}

.field input[type="date"]:focus,
.field input[type="date"].hasValue {
  color: #271111;
}

.field input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}